@font-face {
  font-family: "OwreKynge";
  src: url("./assets/fonts/OwreKynge.ttf");
}
@font-face {
  font-family: "Daydream";
  src: url("./assets/fonts/Daydream.ttf");
}
@font-face {
  font-family: "GhastlyPixe";
  src: url("./assets/fonts/GhastlyPixe.ttf");
}
@font-face {
  font-family: "pixelpoiiz";
  src: url("./assets/fonts/pixelpoiiz.ttf");
}
@font-face {
  font-family: "super cat font Regular";
  src: url("./assets/fonts/super-cat-font.ttf");
}
.owreKynge {
  font-family: OwreKynge;
}

.pixelpoiiz {
  font-family: pixelpoiiz;
}

.ghastlyPixe {
  font-family: GhastlyPixe;
}
.superCat {
  font-family: "super cat font Regular";
  text-transform: lowercase;
}

.background {
  background-image: url("./wallpapaer.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 1000px;
  z-index: -10;
}
